<button *ngIf="selectedProduct && hasAuthorisationOfAdmin"
        [routerLink]="['/', 'edit-product', selectedProduct.id]">EDIT
</button>
<button (click)="goBack()">CANCEL</button>
<router-outlet></router-outlet>
<button (click)="deleteProduct()" *ngIf="hasAuthorisationOfAdmin">DELETE</button>
<p *ngIf="selectedProduct">{{this.selectedProduct.name}}</p>
<p *ngIf="selectedProduct">Avem urmatorul id {{this.selectedProduct.id}}</p>
<p *ngIf="selectedProduct">{{this.selectedProduct.description}}</p>
<p *ngIf="selectedProduct">{{this.selectedProduct.price}}</p>
<img *ngIf="selectedProduct" src="{{this.selectedProduct.image}}" alt="imagine pe care nu o gasim">
