<form *ngIf="form" [formGroup]="form">
  <label>NAME</label>
  <mat-form-field>
    <input matInput placeholder="name" formControlName="name">
  </mat-form-field>
  <label>CATEGORY</label>
  <mat-form-field>
    <input matInput placeholder="category" formControlName="category">
  </mat-form-field>
  <label>PRICE</label>
  <mat-form-field>
    <input matInput placeholder="price" formControlName="price">
  </mat-form-field>
  <label>IMAGE</label>
  <mat-form-field>
    <input matInput placeholder="image" formControlName="image">
  </mat-form-field>
  <label>DESCRIPTION</label>
  <mat-form-field>
    <textarea matInput placeholder="description" formControlName="description"></textarea>
  </mat-form-field>
</form>

<button (click)="goBack()">CANCEL</button>
<button (click)="update()">SAVE</button>
